### Cloud Management Database ###

cloud.database.url=jdbc:sqlserver://mssqldb.example.com:1433
cloud.database.username=windowsAuthUser
cloud.database.password=ENC:<encryptedPassword>
cloud.database.properties.databaseName=DATABASE_NAME
cloud.database.properties.integratedSecurity=true
cloud.database.properties.encrypt=false
cloud.database.properties.domain=WindowsDomain.example.com
cloud.database.properties.realm=WindowsDomain.example.com
cloud.database.properties.authentication=NotSpecified
cloud.database.properties.authenticationScheme=NTLM


### Spring Session Management Database ###

session-management.db.jdbc-url=jdbc:sqlserver://mssqldb.example.com:1433/
session-management.db.username=databaseUser
session-management.db.pass=ENC:<encryptedpassword>
session-management.db.initializationFailTimeout=0
session-management.db.data-source-properties.databaseName=DATABASE_NAME
session-management.db.data-source-properties.integratedSecurity=false
session-management.db.data-source-properties.encrypt=false
#session-management.db.data-source-properties.domain=WindowsDomain.example.com
#session-management.db.data-source-properties.realm=WindowsDomain.example.com
#session-management.db.data-source-properties.authentication=NotSpecified
#session-management.db.data-source-properties.authenticationScheme=NTLM


### Encryption key ###

secure.key=SuperSecureEncryptionKeyGoesHere


########################################
#### SAML Authentication Parameters ####
########################################

saml.sso.context-provider.lb.enabled = true
saml.sso.context-provider.lb.scheme=https
saml.sso.profile-options.relay-state=https://licensemanagement.example.com

## AzureAD/office365
auth.saml.entity-id=https://sts.windows.net/aaaaffff-bbbb-cccc-dddd-111122223333/
auth.saml.sso.url=https://login.microsoftonline.com/aaaaffff-bbbb-cccc-dddd-111122223333/saml2
auth.saml.registration-id=azuread
auth.saml.certificate=azuread-app-certificate.cer
auth.saml.provider=o365
auth.saml.group-attribute=http://schemas.microsoft.com/ws/2008/06/identity/claims/role
auth.saml.signing=true
auth.saml.groupMapping.USER=GenesysCloudUser


